@media (min-width: 520px)and (max-width: 655px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top{
width: 100%;
height: 100vh;
object-fit: cover;
}
.section-top h2{
font-size: 45px;
letter-spacing: 0.5rem;
}
.section-top_message{
padding: 0;
margin: 100px 0 100px;
}
.section-top_message p{
font-size: 14px;
line-height: 2.5rem;
}
.section-cafe_pop p{
font-size: 14px;
line-height: 1.5rem;
padding-left: 10px;
z-index: 15;
}
.section-cafe_title img{
width: 350px;
height: 265px;
object-fit: cover;
position: relative;
z-index: 5;
}
.section-cafe_title h2{
font-size: 26px;
font-weight: 300;
margin: auto;
}
.section-cafe_text p{
font-size: 16px;
line-height: 2.0rem;
padding: 10px 20px 0px 20px;
}
.section-cafe_back{
background-color: #EFD6B0;
height: 561px;
z-index: 0;
position: relative;
margin: -461px 0px 0px 145px;
}
.section-cafe_picture{
z-index: 10;
position: relative;
margin-top: -111px;
}
.section-menu_2{
margin-top: 300px;
margin-bottom: 100px;
}
.section-cocca-pop p{
font-size: 14px;
line-height: 1.5rem;
padding-left: 10px;
z-index: 15;
}
.section-cocca_title h2{
font-size: 26px;
font-weight: 300;
margin: auto;
z-index: 5;
}
.section-cocca_title img{
width: 350px;
height: 265px;
object-fit: cover;
position: relative;
z-index: 10;
}
.section-cocca_text p{
font-size: 16px;
line-height: 2.0rem;
padding: 10px 20px 0px 20px;
}
.section-menu_3{
margin-top: 300px;
margin-bottom: 100px;
}
.section-lake-pop p{
font-size: 14px;
line-height: 1.5rem;
padding-left: 10px;
z-index: 15;
}
.section-lake_title img{
width: 350px;
height: 265px;
object-fit: cover;
position: relative;
z-index: 10;
}
.section-lake_title h2{
font-size: 26px;
font-weight: 300;
margin: auto;
z-index: 5;
}
.section_lake_text p{
font-size: 16px;
line-height: 2.0rem;
padding: 10px 20px 0px 20px;
}
.section_lake_back{
background-color: #B0D0EF;
height: 396px;
z-index: 0;
position: relative;
margin: -403px 0px 0px 145px;
}
.section-lake_picture{
display: flex;
z-index: 10;
position: relative;
}
}
@media (min-width: 655px)and (max-width: 855px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top h2{
font-size: 80px;
letter-spacing: 0.5rem;
}
.section-top_message{
padding: 0;
margin: 100px 0 100px;
}
.section-top_message p{
font-size: 16px;
line-height: 2.5rem;
}
.section-cafe_pop p{
font-size: 18px;
line-height: 2.5rem;
padding-left: 10px
}
.section-cafe_title img{
width: 440px;
height: 300px;
}
.section-cafe_title h2{
font-size: 35px;
}
.section-cafe_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section-cafe_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section-cafe_back{
background-color: #EFD6B0;
height: 663px;
z-index: 0;
position: relative;
margin: -565px 0px 0px 221px;
}
.section-cafe_picture{
margin-top: -110px;
z-index: 10;
position: relative;
}
.section-cocca-pop p{
font-size: 17px;
line-height: 2.5rem;
padding-left: 10px
}
.section-cocca_title h2{
font-size: 35px;
}
.section-cocca_title img{
width: 440px;
height: 300px;
}
.section-cocca_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section-lake-pop p{
font-size: 18px;
line-height: 2.5rem;
padding-left: 10px
}
.section-lake_title img{
width: 440px;
height: 300px;
}
.section-lake_title h2{
font-size: 35px;
}
.section_lake_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section_lake_back{
background-color: #B0D0EF;
height: 484px;
z-index: 0;
position: relative;
margin: -495px 0px 0px 182px;
}
.section-lake_picture{
display: flex;
z-index: 10;
position: relative;
}
}

@media (min-width: 855px)and (max-width: 1000px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top h2{
font-size: 100px;
letter-spacing: 0.5rem;
}
.section-top_message{
padding: 0;
margin: 100px 0 100px;
}
.section-top_message p{
font-size: 23px;
line-height: 3.8rem;
}
.section-cafe_pop p{
font-size: 20px;
line-height: 3.0rem;
padding-left: 10px;
}
.section-cafe_title img{
width: 530px;
height: 380px;
object-fit: cover;
}
.section-cafe_title h2{
font-size: 45px;
}
.section-cafe_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section-cafe_back{
background-color: #EFD6B0;
height: 740px;
z-index: 0;
position: relative;
margin: -556px 0px 0px 297px;
}
.section-cafe_picture{
margin-top: -207px;
z-index: 10;
position: relative;
}
.section-cocca-pop p{
font-size: 20px;
line-height: 3.0rem;
padding-left: 10px;
}
.section-cocca_title h2{
font-size: 45px;
}
.section-cocca_title img{
width: 530px;
height: 380px;
object-fit: cover;
}
.section-cocca_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section-lake-pop p{
font-size: 20px;
line-height: 3.0rem;
padding-left: 10px;
}
.section-lake_title img{
width: 530px;
height: 380px;
object-fit: cover;
}
.section-lake_title h2{
font-size: 45px;
}
.section_lake_text p{
font-size: 20px;
line-height: 2.8rem;
padding: 10px 20px 0px 20px;
}
.section_lake_back{
background-color: #B0D0EF;
height: 484px;
z-index: 0;
position: relative;
margin: -495px 0px 0px 254px;
}
.section-lake_picture{
display: flex;
z-index: 10;
position: relative;
}
}

@media (min-width: 1000px)and (max-width: 1250px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top h2{
font-size: 100px;
letter-spacing: 0.5rem;
}
.section-top_message{
padding: 0;
margin: 100px 0 100px;
}
.section-top_message p{
font-size: 23px;
line-height: 3.8rem;
}
.section-cafe_pop p{
font-size: 20px;
line-height: 3.0rem;
padding-left: 10px;
}
.section-cafe_title img{
width: 530px;
height: 380px;
object-fit: cover;
}
.section-cafe_title h2{
font-size: 70px;
}
.section-cafe_text p{
font-size: 25px;
line-height: 3.5rem;
padding: 10px 20px 0px 20px;
}
.section-cafe_back{
background-color: #EFD6B0;
height: 740px;
z-index: 0;
position: relative;
margin: -556px 0px 0px 297px;
}
.section-cafe_picture{
margin-top: -207px;
z-index: 10;
position: relative;
}
.section-cocca-pop p{
font-size: 20px;
line-height: 3.0rem;
padding-left: 10px;
}
.section-cocca_title h2{
font-size: 70px;
}
.section-cocca_title img{
width: 530px;
height: 380px;
object-fit: cover;
}
.section-cocca_text p{
font-size: 25px;
line-height: 3.5rem;
padding: 10px 20px 0px 20px;
}
.section-lake-pop p{
font-size: 20px;
line-height: 3.0rem;
padding-left: 10px;
}
.section-lake_title img{
width: 530px;
height: 380px;
object-fit: cover;
}
.section-lake_title h2{
font-size: 70px;
}
.section_lake_text p{
font-size: 25px;
line-height: 3.5rem;
padding: 10px 20px 0px 20px;
}
.section_lake_back{
background-color: #B0D0EF;
height: 575px;
z-index: 0;
position: relative;
margin: -571px 0px 0px 254px;
}
.section-lake_picture{
display: flex;
z-index: 10;
position: relative;
}
}