@media (min-width: 520px)and (max-width: 655px){
.mb{
display: none;
}
.sp{
display: block;
}
.pc{
display: none;
}
.section-top h2{
font-size: 29px;
}
.section-top_message{
height: 500px;  
}
.section-top_message div{
height: 500px;
}
.section-top_message h2{
font-size: 18px;
padding-top: 83px;
line-height: 2.5rem;
}
.section-top_message p{
font-size: 13px;
padding-top: 53px;
line-height: 3.0rem;
}
.section-menu_1 img{
width: 65%;
object-fit: cover;
padding-left: 30px;
}
.section-menu_1 h2{
font-size: 18px;
line-height: 3.0rem;
margin: auto;
padding: 0;
}
.section-menu_2_picture1 {
margin: 0;
}
.section-menu_2_picture1 h2{
padding: 0;
font-size: 14px;
line-height: 3.0rem;
margin: 20px;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -25px;
}
.section-access{
margin-top: 35px;
}
.section-access h2{
font-size: 45px;
font-weight: 600;
padding-top: 75px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 16px;
} 
}

@media (min-width: 655px)and (max-width: 855px){
.mb{
display: none;
}
.sp{
display: block;
}
.pc{
display: none;
}
.section-top h2{
font-size: 42px;
}
.section-top_message{
height: 500px;  
}
.section-top_message div{
height: 500px;
}
.section-top_message h2{
font-size: 23px;
line-height: 3.0rem;
padding-top: 100px;
}
.section-top_message p{
font-size: 15px;
padding-top: 30px;
line-height: 2.5rem;
}
.section-menu_1 img{
width: 65%;
object-fit: cover;
padding-left: 30px;
}
.section-menu_1 h2{
font-size: 26px;
line-height: 3.5rem;
margin: auto;
padding: 0;
}
.section-menu_2_picture1 h2{
font-size: 16px;
line-height: 2.8rem;
padding: 20px 30px 20px 20px;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -35px;
}
.section-access{
margin-top: 30px;
}
.section-access h2{
font-size: 60px;
font-weight: 600;
padding-top: 55px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 18px;
} 
}

@media (min-width: 855px)and (max-width: 1245px){
.mb{
display: none;
}
.sp{
display: block;
}
.pc{
display: none;
}
.section-top h2{
font-size: 68px
}
.section-top_message{
height: 500px;  
}
.section-top_message div{
height: 500px;
}
.section-top_message h2{
font-size: 30px;
line-height: 3.5rem;
padding-top: 70px;
}
.section-top_message p{
font-size: 18px;
padding-top: 30px;
line-height: 3.0rem;
}
.section-menu_1 img{
width: 65%;
object-fit: cover;
padding-left: 30px;
}
.section-menu_1 h2{
font-size: 35px;
line-height: 5.0rem;
margin: auto;
padding: 0;
}
.section-menu_2_picture1 h2{
font-size: 20px;
line-height: 3.0rem;
padding: 86px 20px 30px 30px;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -37px;
}
.section-access{
margin-top: 30px;
}
.section-access h2{
font-size: 80px;
font-weight: 600;
padding-top: 45px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 20px;
line-height: 3.0rem;
}
}