body{
margin: 0;
}
.header {
display: flex;
box-sizing: border-box;
height: 110px;
width: 100%;
position:relative;
align-items: center;
z-index: 5;
position: absolute;
}

.header img{
width: 110px;
height: 110px;
padding-left: 70px;
}
.header div{
margin: 0 0 0 auto;
padding-right: 70px;
}

.header ul{
display:flex;
}

.header  ul li{
list-style: none; 
padding-left: 70px;
}

.header a{
text-decoration: none;
font-family: Segoe UI;
font-size: 30px;
color: #fff;
}
.header a:hover {
filter: opacity(70%);
cursor: pointer;
}
.section-footer{
background-image: url(../picture/sightseeing/g6zgN3wrzcpNEwp.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
object-fit: cover;
height: 500px;
margin-top: 300px;
}
.footer-content{
background-color: rgba(144, 144, 144, 0.49);
height: 500px;
}
.site-map_main-link{
display: flex;
justify-content: flex-end;
list-style: none;
padding-top: 50px;
padding-right: 150px;
gap:100px;
}
.site-map_main-link li a{
text-decoration: none;
font-family: 'Lora', serif;
font-size: 30px;
color: #fff;
}
.site-map_main-link li a:hover {
filter: opacity(70%);
cursor: pointer;
}
.site-map_main-link2_container{
text-align: right;
}
.site-map_main-link2{
list-style: none; 
padding-top: 50px;
display: inline-block;
text-align: left;
padding-right: 380px;
}
.site-map_main-link2 li a{
text-decoration: none;
font-family: 'Lora', serif;
font-size: 16px;
color: #fff;
display: inline-block;
text-align: left;
}
.site-map_main-link2 li a:hover {
filter: opacity(70%);
cursor: pointer;
}
.footer__copyright{
display: flex;
justify-content: space-evenly;
color: #fff;
font-family: 'Lora', serif;
font-size: 15px;
font-weight: 300;
margin-top: 71px;
}

/*tablet*/
@media (min-width: 520px) and (max-width: 959px){
.header div{
display: none;
}
.header img{
width: 98px;
height: 98px;
object-fit: cover;
padding-left: 18px;
}
.section-footer{
background-image: url(../picture/sightseeing/g6zgN3wrzcpNEwp.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
object-fit: cover;
height: 100vh;
margin-top: 100px;
}
.footer-content{
background-color: rgba(144, 144, 144, 0.49);
height: 100vh;
}
.site-map_main-link{
display: flex;
list-style: none;
padding-top: 95px;
padding-right: 65px;
gap:50px;
justify-content: center;
align-items: center;
}
.site-map_main-link li a{
text-decoration: none;
font-family: Segoe UI;
font-size: 18px;
color: #fff;
}
.site-map_main-link2_container{
text-align: right;
display: flex;
justify-content: center; 
align-items: center;
}
.site-map_main-link2{
list-style: none; 
padding-top: 50px;
display: inline-block;
text-align: left;
padding-right: 61px;
}
.site-map_main-link2 li a{
text-decoration: none;
font-family: Segoe UI;
font-size: 18px;
font-weight: 300;
color: #fff;
display: inline-block;
text-align: left;
}
.footer__copyright{
display: flex;
justify-content: space-evenly;
color: #fff;
font-family: Segoe UI;
font-size: 15px;
font-weight: 300;
bottom: -62px;
position: relative;
}
}

/*mobile*/
@media (max-width: 520px){
.header div{
display: none;
}
.header img{
width: 98px;
height: 98px;
object-fit: cover;
padding-left: 18px;
}
.section-footer{
background-image: url(../picture/sightseeing/g6zgN3wrzcpNEwp.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
object-fit: cover;
height: 100vh;
margin-top: 65px;
}
.footer-content{
background-color: rgba(144, 144, 144, 0.49);
height: 100vh;
}
.site-map_main-link{
display: flex;
list-style: none;
padding-top: 95px;
padding-right: 65px;
gap:50px;
justify-content: center;
align-items: center;
}
.site-map_main-link li a{
text-decoration: none;
font-family: Segoe UI;
font-size: 18px;
color: #fff;
}
.site-map_main-link2_container{
text-align: right;
display: flex;
justify-content: center; 
align-items: center;
}
.site-map_main-link2{
list-style: none; 
padding-top: 50px;
display: inline-block;
text-align: left;
padding-right: 61px;
}
.site-map_main-link2 li a{
text-decoration: none;
font-family: Segoe UI;
font-size: 18px;
font-weight: 300;
color: #fff;
display: inline-block;
text-align: left;
}
.footer__copyright{
display: flex;
justify-content: space-evenly;
color: #fff;
font-family: Segoe UI;
font-size: 15px;
font-weight: 300;
bottom: -62px;
position: relative;
}
}