.sp{
display: none;
}
.pc{
display: block;
}
.section-top{
background-image: url(../picture/sightseeing/view_of_history3.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
object-fit: cover;
height: 100vh;
}
.section-top h2{
text-align: center;
margin: inherit;
font-family: 'Lora', serif;
font-size: 100px;
font-weight: 200;
text-shadow: 0 0 8px rgb(0, 0, 0, 1.4);
color: #fff;
letter-spacing: 1.5rem;
top: 50%;
position: relative;
}
.section-top_message{
background-image: url(../picture/sightseeing/view_of_history2.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
object-fit: cover;
height: 700px;  
}
.section-top_message div{
background-color: rgba(144, 144, 144, 0.49);
height: 700px;
}
.section-top_message h2{
text-align: center;
margin: inherit;
font-family: 'Lora', serif;
font-size: 40px;
color: #fff;
padding-top: 150px;
font-weight: 300;
line-height: 1.0rem;
}
.section-top_message p{
text-align: center;
font-family: 'Lora', serif;
font-size:25px ;
font-weight: 300;
color: #fff;
padding-top: 145px;
line-height: 3.3rem;

}
.section-menu{
max-width: 1500px;
margin: auto;
}
.section-menu_1{
margin-top: 200px;
margin-bottom: 100px;;
display: flex;
}
.section-menu_1 img{
width: 64%;
object-fit: cover;
padding-left: 100px;
}
.section-menu_1 h2{
font-family: 'Lora', serif;
font-size: 50px;
font-weight: 300;
writing-mode: vertical-rl;
line-height: 5.0rem;
padding: 25px 0 0 60px;
}
.section-menu_2_picture1{
display: flex;
}
.section-menu_2_picture1 h2{
font-family: 'Lora', serif;
font-size: 30px;
font-weight: 300;
line-height: 5.0rem;
padding: 40px 0 0 110px;
}
.section-menu_2_picture1 img{
width:43%;
object-fit: cover;
margin: 0 0 0 auto;
z-index: 10;
position: relative;
}
.section-menu_2_picture2 img{
width: 60%;
object-fit: cover;
z-index: 5;
position: relative;
top: -254px;
left: 65px;
}
.section-access{
background-image: url(../picture/sightseeing/view_of_history4.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
object-fit: cover;
height: 510px;
}
.section-access div{
background-color: rgba(144, 144, 144, 0.49);
height: 510px;
}
.section-access h2{
font-family: Calisto MT;
font-size: 100px;
font-weight: 200;
color: #fff;
text-align: center;
padding-top: 20px;
margin: 0;
}
.section-access p{
font-family: ほのか丸ゴシック;
font-size: 25px;
font-weight: 200;
color: #fff;
text-align: center;
line-height: 3.0rem;
padding-top: 70px;
margin: 0;
}
.section-access_map{
height: 400px;
}
.section-access_map iframe{
width: 100%;
height: 100%;
}
@media (min-width: 855px)and (max-width: 1245px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top h2{
font-size: 70px
}
.section-top_message h2{
font-size: 30px;
}
.section-top_message p{
font-size:18px ;
padding-top: 100px;
line-height: 3.0rem;
}
.section-menu_1 img{
width: 70%;
object-fit: cover;
padding-left: 20px;
}
.section-menu_1 h2{
font-size: 35px;
line-height: 4.0rem;
margin: auto;
padding: 0;
}
.section-menu_2_picture1 h2{
font-size: 20px;
line-height: 3.0rem;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -129px;
}
.section-access h2{
font-size: 80px;
font-weight: 600;
padding-top: 45px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 20px;
line-height: 3.0rem;
}
}

@media (min-width: 655px)and (max-width: 855px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top h2{
font-size: 65px;
}
.section-top_message h2{
font-size: 23px;
padding-top: 115px;
}
.section-top_message p{
font-size: 15px;
padding-top: 100px;
line-height: 3.5rem;
}
.section-menu_1 img{
width: 70%;
object-fit: cover;
padding-left: 20px;
}
.section-menu_1 h2{
font-size: 26px;
line-height: 3.5rem;
margin: auto;
padding: 0;
}
.section-menu_2_picture1 h2{
font-size: 14px;
line-height: 3.0rem;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -88px;
}
.section-access h2{
font-size: 60px;
font-weight: 600;
padding-top: 55px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 18px;
} 
}
@media (min-width: 520px)and (max-width: 655px){
.sp{
display: none;
}
.pc{
display: block;
}
.section-top h2{
font-size: 46px;
font-weight: 500;
}
.section-top_message h2{
font-size: 18px;
padding-top: 145px;
}
.section-top_message p{
font-size: 12px;
padding-top: 105px;
line-height: 3.0rem;
}
.section-menu_1 img{
width: 70%;
object-fit: cover;
padding-left: 20px;
}
.section-menu_1 h2{
font-size: 18px;
line-height: 3.0rem;
margin: auto;
padding: 0;
}
.section-menu_2_picture1 h2{
font-size: 11px;
line-height: 3.0rem;
padding-left: 75px;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -63px;
}
.section-access h2{
font-size: 45px;
font-weight: 600;
padding-top: 75px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 16px;
} 
}
@media (max-width: 520px){
.sp{
display: block;
}
.pc{
display: none;
}
.section-top h2{
font-size: 30px;
font-weight: 500;
}
.section-top_message h2{
font-size: 20px;
padding-top: 110px;
line-height: 3.0rem;
}
.section-top_message p{
font-size: 12px;
padding-top: 45px;
line-height: 3.0rem;
}
.section-menu_1{
margin-top: 80px;
}
.section-menu_1 img{
width: 70%;
object-fit: cover;
padding-left: 20px;
}
.section-menu_1 h2{
font-size: 14px;
line-height: 2.0rem;
padding: 0;
margin: auto;
}
.section-menu_2_picture1 h2{
font-size: 10px;
line-height: 2.5rem;
padding-left: 75px;
padding: 0;
margin-left: 25px;
}
.section-menu_2_picture1 img{
width: 40%;
object-fit: cover;
}
.section-menu_2_picture2 img{
width: 59%;
object-fit: cover;
top: -46px;
}
.section-access h2{
font-size: 35px;
font-weight: 600;
padding-top: 100px;
letter-spacing: 1.0rem;
}
.section-access p{
font-size: 14px;
} 
}
